<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhom_19">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weatherapp">
        <activity android:name=".FixActivity"
            android:label="Fix"
            android:parentActivityName=".ContainerActivity"
            android:theme="@style/Theme.Weatherapp1"></activity>
        <activity
            android:name=".SearchContainerActivity"
            android:label="Search history"
            android:parentActivityName=".SearchContainerActivity"
            android:theme="@style/Theme.Weatherapp1" />
        <activity
            android:name=".ContainerActivity"
            android:label="Favorite region"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/Theme.Weatherapp1" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>